# copy this to folder: /etc/systemd/system/
# and execute: systemctl enable SimMarket.service

[Unit]
Description=SimMarket
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/root/SimMarketBot
ExecStart=/usr/local/bin/poetry run python3 -m bot
Restart=always

[Install]
WantedBy=multi-user.target
